*,
html /deep/ * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body , body /deep/ *{
  font-family: "RobotoDraft", Helvetica, Arial, sans-serif;
    word-wrap:break-word;
}

body{
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

body /deep/ h1 {
  font-size: 30px;
}
body /deep/ h1,
body /deep/ h2,
body /deep/ h3,
body /deep/ h4 {
  font-weight: 300;
  letter-spacing: -0.01em;
  line-height: 48px;
  margin: 0;
}

body /deep/ .clearfix{
    clear:both;
}

.fabBtn, html /deep/ .fabBtn {
  position: fixed;
  bottom: 1em;
  right: 1.5em;
}

html /deep/ .max-page-width{
    max-width:1400px;
    display:block;
    margin:0 auto;
    margin-top:15px;
}

html /deep/ .floated-label{
    line-height:1em;
}